<div class="container">
<ul>
    <li *ngFor="let centre of centres"
        [ngClass]="selected==centre ? 'selected' : ''">
        
            <div class="infoCentre">
            <h2>{{centre.nom}}</h2>
            <h4><fa-icon class="icon" [icon]="iconHospital"></fa-icon>{{centre.adresse}} | {{centre.codePostal}} {{centre.ville}}</h4>
            <h4><fa-icon class="icon" [icon]="iconClock"></fa-icon>{{centre.heurOuverture}}h - {{centre.heurFermeture}}h</h4>
            </div>
            <div class="containChoice">
            <a routerLink="/reservation/{{centre.idCentre}}"><button mat-raised-button (click)="selectCenter(centre)">
                 Choissir
            </button></a>
            </div>
        
    </li>
    
</ul>
</div>

